<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.amber.bookmydoctor">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_new_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BookMyDoctor">
        <activity
            android:name=".Fragments.HospitalDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".ProfilePagesCards.HealthTipsActivity"
            android:exported="false" />
        <activity
            android:name=".ProfilePagesCards.EditPrescriptionActivity"
            android:exported="false" />
        <activity
            android:name=".AllActivity.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".AllActivity.MainActivity" />
        <activity android:name=".AllActivity.GetStartedActivity" />
        <activity android:name=".AllActivity.DoctorDashActivity" />
        <activity android:name=".AllActivity.LoginPageActivity" />
        <activity android:name=".AllActivity.RegisterActivity" />
        <activity android:name=".AllActivity.PhonePageActivity" />
        <activity android:name=".AllActivity.ForgotPageActivity" />
        <activity android:name=".AllActivity.ForgotOTPActivity" />
        <activity android:name=".AllActivity.RecoveyPasswordActivity" />
        <activity android:name=".AllActivity.DashPageActivity" />
        <activity android:name=".AllActivity.CardActivity" />
        <activity android:name=".AllActivity.BloodBankAllActivity.BloodRedButtonActivity" />
        <activity android:name=".AllActivity.LabTestsAllActivity.LabTestActivity" />
        <activity android:name=".AllActivity.MedicineActivity" />
        <activity android:name=".AllActivity.BloodBankAllActivity.BloodFormPageActivity" />
        <activity android:name=".AllActivity.GmailPageActivity" />
        <activity android:name=".AllActivity.EmailVerificationActivity" />
        <activity android:name=".AllActivity.BloodBankAllActivity.BloodDonateChoiceActivity" />
        <activity android:name=".AllActivity.BloodBankAllActivity.BloodGroupSelectActivity" />
        <activity android:name=".AllActivity.BloodBankAllActivity.BloodHospitalLocationActivity" />
        <activity android:name=".AllActivity.BloodBankAllActivity.BloodDonorsActivity" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyD4rrS_p4XTi8u5MKro7o9TByVcMJBsP6Y" />
    </application>

</manifest>